/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    /* Set body height to viewport height */
    overflow: hidden;
    /* Prevent scrolling */
}

.container {
    max-width: 450px;
    height: 100vh;
    margin: 0 auto;
    /* background-color: green; */
    /* padding-bottom: 50px; */
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home .videoDesktop {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* .home video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */

.buttons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* padding-top: 20px; */
    width: 450px;
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    /* background: green; */
}

.prevButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: none;
}

.nextButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: none;
}

.openButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-70px);
    width: 80px;
    height: 80px;
}

/* navigation css */
.navigation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 70px;

    /* position: relative;
    width: 100%;
    height: 70px; */
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #A6753E;
    transition: .5s;
}

/* .navigation ul li.active a .icon {
    transform: translateY(-32px);
} */
.navigation ul li a .text {
    position: absolute;
    color: #A6753E;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #A6753E;
    /* transform: translateY(-37px) scale(0); */
    transform: scale(0);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .1s;
    /* transform: translateY(-37px) scale(1); */
    transform: scale(1);
}